# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# Coverage
coverage

# Test result reports
testResultReport

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
lerna-debug.log*
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules
jspm_packages/

# Optional npm cache directory
.npm
