name: JIRA API Tests

on:
  push:
    branches: 
      - '**'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        env:
          JIRA_URL: ${{ secrets.JIRA_URL }}
          API_TOKEN: ${{ secrets.API_TOKEN }}
          JIRA_USERNAME: ${{ secrets.JIRA_USERNAME }}
        run: npm run test

      - name: Generate Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: JIRA API Vitest Tests
          path: testResultReport/vitest-junit.xml
          reporter: jest-junit 
